################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/RegistersProject/bin/Debug/net9.0
/RegistersProject/obj/
/backend/appsettings.Development.json
*.env
/RegistryService/Data/Migrations/AppDbContextModelSnapshot.cs
/Frontend/obj/Debug/package.g.props
