## Visual Studio и .NET ##
appsettings.Development.json
*.env
bin/
obj/
.vs/
*.user
*.suo
*.userprefs
*.psess
*.njsproj
*.sln.iml
*.sw?
*.cache
*.dotCover
*.pyc
*.nupkg
*.DS_Store
TestResults/
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.log
*.vspscc
*.vssscc
*.pidb
*.svclog
*.scc
*.sql
*.bak
*.msi
*.msm
*.msp
*.tmp
*.temp
*.db
*.opendb
*.pubxml
*.publishsettings
*.backup
*.orig
*.sass-cache/
_ReSharper.*/
*.resharper
*.sln.ide
*.VC.db
*.VC.VC.opendb

## NuGet ##
packages/
[Nn]u[Gg]et.[Ee]x[Ee]/
*.nupkg
nuget.exe

## Node.js (React) ##
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
dist/
build/
.cache/
.parcel-cache/
*.tmp
*.temp
*.log
coverage/
.idea/
.vscode/
*.sublime-*
.eslintcache

## IDE ##
.idea/
.vscode/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

## Остальное ##
*.pyc
*.db
*.sqlite
*.sqlite3
*.log
*.pot
*.pyo
*.pyd
*.class
*.exe
*.dll
*.so
*.dylib
*.test
*.out
*.app
*.ipa
*.apk
*.xcconfig
*.xcworkspacedata
*.xcuserstate
*.DS_Store
Thumbs.db